<DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
