{% extends 'base.html' %}

{% block title %}Password Change{% endblock %}

{% block content %}
<h1>Change your password</h1>
<form action='' method="post">
    {% csrf_token %}
    {{  form  }}
    <button type="submit" class="btn btn-default">Save Changes</button>
</form>
{% endblock %}

