{% extends 'base.html' %}

{% block title %}Home page{% endblock %}



{% block content %}
<h1>Welcome!</h1>

<p>Your login: {{ request.user.username }}</p>
<p>Your first name: {{ request.user.first_name }}</p>
<p>Your last name: {{ request.user.last_name }}</p>
<p>Your email: {{ request.user.email }}</p>
{% if request.user.is_staff %}
<form action="/admin/">
    <input type="submit" value="Admin panel" />
</form>

{% else %}

<form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Profile</button>
</form>

<p><a href="/password_change/">Change your password</a>
{% endif %}
{% endblock %}


